In [3]:
import numpy as np
import pandas as pd
from scipy.stats import norm
import statsmodels.api as sm
import matplotlib.pyplot as plt
from datetime import datetime
import requests
from io import BytesIO
# Register converters to avoid warnings
pd.plotting.register_matplotlib_converters()
plt.rc("figure", figsize=(16,8))
plt.rc("font", size=14)

In [4]:
wpi1 = requests.get('https://www.stata-press.com/data/r12/wpi1.dta').content
data = pd.read_stata(BytesIO(wpi1))
data.index = data.t
# Set the frequency
data.index.freq="QS-OCT"

# Fit the model
mod = sm.tsa.statespace.SARIMAX(data['wpi'], trend='c', order=(1,1,1))
res = mod.fit(disp=False)
print(res.summary())

                               SARIMAX Results
==============================================================================
Dep. Variable:                    wpi   No. Observations:                  124
Model:               SARIMAX(1, 1, 1)   Log Likelihood                -135.351
Date:                Tue, 10 Aug 2021   AIC                            278.703
Time:                        09:11:09   BIC                            289.951
Sample:                    01-01-1960   HQIC                           283.272
                         - 10-01-1990
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept      0.0943      0.068      1.389      0.165      -0.039       0.227
ar.L1          0.8742      0.055     16.028      0.000       0.767       0.981
ma.L1         -0.4120      0.100     -4.119      0.000      -0.608      -0.216
sigma2         0.5257      0.053      9.849      0.000       0.421       0.630
===================================================================================
Ljung-Box (L1) (Q):                   0.09   Jarque-Bera (JB):                 9.78
Prob(Q):                              0.77   Prob(JB):                         0.01
Heteroskedasticity (H):              15.93   Skew:                             0.28
Prob(H) (two-sided):                  0.00   Kurtosis:                         4.26
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

In [5]:
data

                   wpi          t    ln_wpi
t
1960-01-01   30.700001 1960-01-01  3.424263
1960-04-01   30.799999 1960-04-01  3.427515
1960-07-01   30.700001 1960-07-01  3.424263
1960-10-01   30.700001 1960-10-01  3.424263
1961-01-01   30.799999 1961-01-01  3.427515
...                ...        ...       ...
1989-10-01  109.400002 1989-10-01  4.695011
1990-01-01  111.000000 1990-01-01  4.709530
1990-04-01  110.800003 1990-04-01  4.707727
1990-07-01  112.800003 1990-07-01  4.725616
1990-10-01  116.199997 1990-10-01  4.755313

[124 rows x 3 columns]

In [7]:
# Dataset
friedman2 = requests.get('https://www.stata-press.com/data/r12/friedman2.dta').content
raw = pd.read_stata(BytesIO(friedman2))
raw.index = raw.time
raw.index.freq = "QS-OCT"
data = raw.loc[:'1981']

# Variables
endog = data.loc['1959':, 'consump']
exog = sm.add_constant(data.loc['1959':, 'm2'])
nobs = endog.shape[0]

# Fit the model
mod = sm.tsa.statespace.SARIMAX(endog.loc[:'1978-01-01'], exog=exog.loc[:'1978-01-01'], order=(1,0,1))
fit_res = mod.fit(disp=False, maxiter=250)
print(fit_res.summary())

                               SARIMAX Results
==============================================================================
Dep. Variable:                consump   No. Observations:                   77
Model:               SARIMAX(1, 0, 1)   Log Likelihood                -243.316
Date:                Tue, 10 Aug 2021   AIC                            496.633
Time:                        09:14:27   BIC                            508.352
Sample:                    01-01-1959   HQIC                           501.320
                         - 01-01-1978
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6773     18.491      0.037      0.971     -35.564      36.919
m2             1.0379      0.021     50.331      0.000       0.997       1.078
ar.L1          0.8775      0.059     14.859      0.000       0.762       0.993
ma.L1          0.2771      0.108      2.572      0.010       0.066       0.488
sigma2        31.6972      4.683      6.769      0.000      22.519      40.875
===================================================================================
Ljung-Box (L1) (Q):                   0.32   Jarque-Bera (JB):                 6.05
Prob(Q):                              0.57   Prob(JB):                         0.05
Heteroskedasticity (H):               6.09   Skew:                             0.57
Prob(H) (two-sided):                  0.00   Kurtosis:                         3.76
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

In [12]:
data['1959':]

                     m2       time          m1      consump         pc92
time
1959-01-01   289.149994 1959-01-01  139.740005   310.399994  1369.900024
1959-04-01   294.049988 1959-04-01  141.169998   316.399994  1391.699951
1959-07-01   296.730011 1959-07-01  141.009995   321.700012  1407.199951
1959-10-01   297.799988 1959-10-01  139.949997   323.799988  1409.500000
1960-01-01   299.350006 1960-01-01  139.750000   327.299988  1422.500000
...                 ...        ...         ...          ...          ...
1980-10-01  1601.099976 1980-10-01  408.920013  1836.800049  3034.199951
1981-01-01  1638.000000 1981-01-01  418.920013  1890.300049  3045.600098
1981-04-01  1670.550049 1981-04-01  423.899994  1923.500000  3045.800049
1981-07-01  1708.380005 1981-07-01  427.910004  1967.400024  3058.800049
1981-10-01  1756.189941 1981-10-01  436.790009  1983.900024  3035.300049

[92 rows x 5 columns]